
<div class="container-fluid" style="margin-top: 100px;">


<div class="row">
{{#each Course}}
 <div class="col-md-3 mt-5 mb-5">
      <div class="card" style=" min-height: 450px;">
        <a href="/Course/{{this.slug}}">
  <img class="card-img-top img-thumbnail" src="{{this.img}}" alt="Card image cap">
  </a>
  <div class="card-body">
    <a href="/Course/{{this.slug}}" class="text-reset fw-bold">
    <h5 class="card-title" style="text-decoration: none;">{{this.name}}</h5>
    </a>

    <p class="card-text">{{this.desc}}</p>
    <a href="#" class="btn btn-primary w-100" style="background-color: rgb(249,105,131); border-radius: 4px;">Mua Ngay</a>
  </div>
</div>
  </div>
{{/ each}}

</div>
 
</div>



